name: Code Quality Checks

on:
  push:

  pull_request:
    branches: ["main"]
    paths:
      - "src/**"
      - "tests/**"

  workflow_dispatch:  # run workflow manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-and-format:
    name: "Lint and Format Checks"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml

      - name: Install dependencies
        run: uv sync --dev

      - name: Format code with Ruff
        run: uv run ruff format src/ tests/ --check  # check formatting without applying changes

      - name: Lint code with Ruff
        run: uv run ruff check src/ tests/  # check linting without applying changes

  run-tests:
    name: "Run Tests with Coverage"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests with coverage
        run: |
          uv sync --dev
          uv run pytest -x tests/ --cov=src --cov-report=term-missing:skip-covered --cov-fail-under 90
        shell: bash